::-webkit-input-placeholder {
  /* Edge */
  color: whitesmoke;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: whitesmoke;
}

::placeholder {
  color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

#add-task {
  margin: 1em 2em;
  padding: 2em;
  text-align: center;
  background-color: #222;
  border-bottom: 1px #0047ab solid;
  border-radius: 6px;
  height: 23vh;
}

#task {
  padding: 6px 0;
  border: none;
  border-bottom: 1px #22e7fc solid;
  background: none;
  font-family: Montserrat;
  outline: none;
  color: whitesmoke;
  text-align: center;
  position: relative;
  top: 5%;
}

#add-task-btn {
  margin-right: 1em;
  margin-top: 2em;
  padding: 8px 14px;
  position: relative;
  top: .3em;
  display: inline-block;
  background: none;
  outline: none;
  border: 1px #0047cd solid;
  border-radius: 7px;
  cursor: pointer;
  font-family: menlo;
  font-size: 15px;
  font-weight: 550;
  color: white;
  transition: all 300ms ease-in-out;
}

#add-task-btn:hover {
  background: #007FFF;
}

#heading {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#task-list-header {
  padding: 1em;
  text-align: center;
  background-color: #007FFF;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: bolder;
}

#task-list-filter {
  margin-top: 1em;
  padding: 6px 12px;
  border: none;
  background: none;
  border-bottom: 1px black solid;
  text-align: center;
  outline: none;
  font-family: Montserrat;
  outline: none;
  color: whitesmoke;
}

#task-list {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #222;
  width: 70%;
  margin-bottom: 3em;
}

.task-list-item {
  list-style: none;
  border-bottom: 1px whitesmoke solid;
  padding: 1em;
}

#output-title {
  text-transform: capitalize;
  font-family: Montserrat;
  color: white;
  word-wrap: break-word;
}

#output-para {
  margin-top: .5em;
  font-family: Montserrat;
  color: lightslategrey;
  letter-spacing: 1.8px;
}

.fa-trash {
  color: red;
  float: right;
  cursor: pointer;
  font-size: 25px;
}

.alert-danger {
  background: linear-gradient(to right, crimson, red);
  width: 40%;
  margin: 0 auto;
  padding: 1em;
  font-family: Asap;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: whitesmoke;
  border-radius: 6px;
}

#delete-todo {
  background: none;
  border: none;
  outline: none;
}